

@model CarRental.Models.CarInventory
@{
    ViewBag.Title = "FindCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FindCars</h2>



<div class="form-group">
    <p><strong>Brand</strong></p>
    @Html.TextBox("Car barnd","", "")
        @*ViewBag.CarsBag as IEnumerable<SelectListItem>, String.Empty)
    @Html.ValidationMessageFor(m => m.CarId)*@
</div>

<div class="form-group">
    <p><strong>Modele</strong></p>
    @Html.TextBox("Car model", "", "")
    @*ViewBag.CarsBag as IEnumerable<SelectListItem>, String.Empty)
        @Html.ValidationMessageFor(m => m.CarId)*@
</div>

<div class="form-group">
    <p><strong>Type</strong></p>
    @Html.TextBox("Car type", "", "")
    @*ViewBag.CarsBag as IEnumerable<SelectListItem>, String.Empty)
        @Html.ValidationMessageFor(m => m.CarId)*@
</div>

<input type="submit" class="btn btn-primary" value="Find" />


