

@model CarRental.Models.CarInventorySearch
@{
    ViewBag.Title = "FindCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FindCars</h2>





@using (Html.BeginForm("ShowFindCars", "CarInventories", FormMethod.Post))
{
    <div>
        <p><strong>Brand</strong></p>
        @Html.TextBoxFor(model => model.CarBrand)
        @Html.ValidationMessageFor(model => model.CarBrand)
        <p><strong></strong></p>
    </div>

    <div>
        <p><strong>Modele</strong></p>
        @Html.TextBoxFor(model => model.CarModele)
        @Html.ValidationMessageFor(model => model.CarModele)
        <p><strong></strong></p>
    </div>

    <div>
        <p><strong>Type</strong></p>
        @Html.TextBoxFor(model => model.CarType)
        @Html.ValidationMessageFor(model => model.CarType)
        <p><strong></strong></p>
    </div>
    <div>
        <p><strong></strong></p>
        <button type="submit">ShowFindCars</button>
    </div>

}




